html,
body {
  margin: 0;
  padding: 0;
  background-color: #eef4ed;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

.main-content {
  flex: 1;
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: 5px;
  border-radius: 30px;
  border: white solid 1px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 100px;
  background-color: #0b2545;
  padding-bottom: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.main-header #toggle {
  display: none;
}


#toggle + label, .main-header h3 {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  left: 0;
  aspect-ratio: 1 / 1;
  font-size: 3em;
  color: white;
}

.main-header h3 {
 margin-left: 100px;
 margin-top: 0px; 
 font-size: 2em;
 width: 250px;
 justify-content: flex-start;
}

nav {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 500px;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
  font-size: 16pt;
  backdrop-filter: blur(5px);
  transition: transform 0.5s ease-in-out;
  transform: scale(0,1);
  transform-origin: left;
}

input[type="checkbox"]:disabled + label {
  color: darkgray;
  cursor: not-allowed;
}

input[type="text"] {
  width: 70%;
  height: 50px;
}

.main-header h1 {
  color: white;
}

.main-header #toggle:checked + label {
  color: red;
}

.main-header #toggle:checked ~ nav {
  transform: scale(1,1);
}

.main-header #toggle:hover ~ nav {
  transform: scale(1,1);
}

nav:hover {
  transform: scale(1,1);
}

.navibar {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
}

.sorting {
  display: grid;
}

.sorting label {
  z-index: 1;
  height: 50px;
  font-size: 24pt;
  color: white;
}

@media (max-width: 768px), (hover: none) {

.main-header #toggle:not(:checked) ~ nav {
  transform: scale(0,1);
}

nav {
  width: 90%;
  font-size: 24pt;
}

.navibar {
  justify-content: center;
}

.sorting {
  margin-top: 30px;
}

}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 5em;
  font-family: "Helvetica";
  font-weight: normal;
  color: white;
}

#card-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: max-content;
  animation: scroll 60s linear infinite;
}

#belt {
  overflow: hidden;
  background-color: #fbfbdb;
}

@keyframes scroll {
  0% {
    transfrom: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}

.card {
  width: 200px;
  height: 200px;
  border: 2px solid #0b2545;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-color: rgba(255,255,255,0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 50px 50px;
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 768px) and (hover:hover) {

.card:hover {
  transform: scale(1.3);
}

}

.card-content {
  padding: 20px;
  font-family: "Verdana";
  color: #eef4ed;
}

.card-content h2 {
  position: absolute;
  font-size: 16px;
  text-align: center;
  width: 180px;
  top: 0;
  margin-left: -10px;
  border-radius: 10px;
  background-color: #252422;
  height: 50px;
}

#card-container:hover {
  animation-play-state: paused;
}

.card img {
  width: 100%;
  height: auto;
}

.banner {
  height: 100px;
  background-color: #8da9c4;
  position: sticky;
  top: 100px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 500px;
  overflow: hidden;
  margin-top: auto;
}

.search button {
  height: 70px;
  width: 70px;
}

button {
  text-align: center;
  background-color: #8da9c4;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}

.overlay {
  position: absolute;
}

.circle {
  height: 5000px;
  width: 5000px;
  border-radius: 3000px;
  display: flex;
  justify-content: center;
  padding-top: 300px;
  background-color: rgba(141,169,196,0.5);
}

.banner {
  height: 100px;
}

#menu-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px 100px;
  font-size: 16pt;
  color: black;
  height: 100%;
}


.banner label:hover {
  color: white;
  cursor: pointer;
}

#menu-selection label {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nigiri:checked + label, 
#rolls:checked + label,
#sides:checked + label,
#ramen:checked + label,
#desserts:checked + label,
#all:checked + label {
  color: white;
  background-color: #13315c;
}

#all, #nigiri, #rolls, #sides, #ramen, #desserts {
  display: none;
}

#menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
}

.menu {
  width: 300px;
  height: 400px;
  margin: 50px 0px;
  place-self: center;
  animation: fade 0.5s ease-in-out;
  transform-origin: left;
}

@keyframes fade {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#message {
  margin-left: 100px;
  font-size: 16pt;
  color: #13315c;
}

#notice {
  color: red;
}

.menu-content {
  padding: 20px;
  font-family: "Verdana";
  color: #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-content h2 {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
  height: 70px;
  align-content: center;
  margin: 10px;
}

.menu img {
  width: 30%;
  align-self: center;
}

.menu p {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px), (hover:none) {

#menu-container {
  grid-template-columns: repeat(2, 1fr);
}

.menu {
  width: 400px;
  height: 500px;
}

.navibar label {
  font-size: 32pt;
}

.search {
  font-size: 40pt;
}

input[type="text"],
.search button {
  font-size: 24pt;
  height: 100px;
  width: 100%;
}

.menu h2{
  font-size: 24pt;
}

.menu li, .menu p{
  font-size: 16pt;
}

.main-header h3 {
  display: none;
}

}